<div class="container pt-12 pb-40">
  <div class="flex">
    <div class="w-full text-center">

      <div class="form-vertical account-form">

        <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
        <p>{{ 'customer.register.subtitle' | t }}</p>

        <div class="account-form__body">
          {%- assign formId = 'RegisterForm' -%}
          {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
            {% include 'form-status', form: form, form_id: formId %}

            <div class="flex flex-wrap -mx-4">
              <div class="w-full mb-4 px-4">
                <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name" placeholder="{{ 'customer.register.first_name' | t }}">
              </div>

              <div class="w-full mb-4 px-4">
                <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name" placeholder="{{ 'customer.register.last_name' | t }}">
              </div>

              <div class="w-full mb-4 px-4">
                <input
                  type="email"
                  name="customer[email]"
                  id="{{ formId }}-email"
                  class="{% if form.errors contains 'email' %} input--error{% endif %}"
                  {% if form.email %} value="{{ form.email }}"{% endif %}
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  placeholder="{{ 'customer.register.email' | t }}"
                  {%- if form.errors contains 'email' -%}
                    class="input--error"
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
                >
                {%- if form.errors contains 'email' -%}
                  <span id="{{ formId }}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                {%- endif -%}
              </div>

              <div class="w-full mb-4 px-4">
                <input
                  type="password"
                  name="customer[password]"
                  id="{{ formId }}-password"
                  class="{% if form.errors contains 'password' %} input--error{% endif %}"
                  aria-required="true"
                  placeholder="{{ 'customer.register.password' | t }}"
                  {%- if form.errors contains 'password' -%}
                    class="input--error"
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-password-error"
                  {%- endif -%}
                >

                {%- if form.errors contains 'password' -%}
                <span id="{{ formId}}-password-error" class="input-error-message">
                  <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
                </span>
                {%- endif -%}
              </div>

              <div class="w-full mb-4 px-4">
                <input type="checkbox" id="rf-agree" class="agree" required aria-required="true" value="">
                <label for="rf-agree">I agree to <a href="https://www.bhfo.com/pages/terms-of-service" target="_blank">Terms</a> and <a href="https://www.bhfo.com/pages/privacy-notice" target="_blank">Privacy</a> policies</label><br>
                <span id="agree-error" class="input-error-message hidden">
                  <span>You must agree with Terms and Privacy policies.</span>
                </span>
              </div>

              <div class="w-full mb-4 px-4 text-center">
                <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-primary">
              </div>
            </div>

          {% endform %}
        </div>

        <p class="text-center py-4">
          {{ 'customer.register.login_html' | t: link: '/account/login' }}
        </p>

      </div>
    </div>
  </div>
</div>
