<div class="container pt-12 pb-40">
  <div class="flex">
    <div class="w-full text-center">

      <div class="form-vertical account-form">
        {% form 'reset_customer_password' %}
          <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>
          <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
          {%- if form.errors -%}
            <div class="form-message form-message--error">
             {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <div class="flex flex-wrap -mx-4">
            <div class="w-full mb-4 px-4">
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
            </div>

            <div class="w-full mb-4 px-4">
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
            </div>

            <div class="w-full mb-4 px-4 text-center">
              <input type="submit"  class="btn btn-primary" value="{{ 'customer.reset_password.submit' | t }}">
            </div>
          </div>
        {% endform %}
      </div>

    </div>
  </div>
</div>
