{%- assign title = section.settings.title -%}

{%- assign image_1 = section.settings.image_1 -%}
{%- assign title_1 = section.settings.title_1 -%}
{%- assign link_1 = section.settings.link_1 -%}

{%- assign image_2 = section.settings.image_2 -%}
{%- assign title_2 = section.settings.title_2 -%}
{%- assign link_2 = section.settings.link_2 -%}

{%- if section.settings.show_section == true -%}
<div data-section-id="{{ section.id }}">
  <div class="container image-and-text mb-10 lg:pt-10">
    <div class="flex flex-wrap text-center">
      <div class="w-full">
        <h1 class="h2">{{ title }}</h1>
      </div>
    </div>
    <div class="flex flex-wrap justify-center text-center md:-mx-4">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {%- assign image = block.settings.image -%}
          {%- assign title = block.settings.title -%}
          {%- assign link = block.settings.link -%}

          <div class="w-full sm:w-1/2 md:w-4/12 pb-4 md:px-4">
            <a href="{{ link }}" class="inline-block text-center">
              <img src="{{ image | img_url: 'master' }}" alt="">
              <p>{{ title }}</p>
            </a>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "Image & Text",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}