
<div data-section-id="{{ section.id }}">
  <div class="image-block full mb-16">

    {%- assign section_image_desktop = section.settings.image_desktop -%}
    {%- assign section_image_tablet = section.settings.image_tablet -%}
    {%- assign section_link = section.settings.link -%}

    {%- assign img_url = section_image_desktop | img_url: '1x1' | replace: '_1x1.', '_1920x.' -%}
    {%- assign src = section_image_desktop | img_url: '1920x' -%}

    {% if section_link != blank %}<a href="{{ section_link }}">{% endif %}
      {% if section_image_desktop != blank %}
      <img
        src="{{ src }}"
        data-src="{{ img_url }}"
        data-widths="[960, 1920]"
        data-aspectratio="1.0"
        data-sizes="auto"
        alt="{{ section_image_desktop.alt }}"
        class="hidden md:inline-block lazyload">
      {% endif %}

      {% if section_image_tablet != blank %}
      {% assign img_url = section_image_tablet | img_url: '1x1' | replace: '_1x1.', '_768x.' %}
      <img src="{{ section_image_tablet | img_url: '768x' }}"
           data-src="{{ img_url }}"
           data-widths="[284, 568, 768]"
           data-aspectratio="1.0"
           data-sizes="auto"
           alt="{{ section_image_tablet.alt }}"
           class="inline-block md:hidden lazyload">
      {% endif %}
    {% if section_link != blank %}</a>{% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Image Block",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_tablet",
      "label": "Image (Tablet&Mobile width:768px)"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}