
<div data-section-id="{{ section.id }}">
  <div class="image-block mb-16">

    {%- assign section_image_desktop = section.settings.image_desktop -%}
    {%- assign section_image_tablet = section.settings.image_tablet -%}
    {%- assign section_image_mobile = section.settings.image_mobile -%}
    {%- assign section_link = section.settings.link -%}

    {% if section_link != blank %}<a href="{{ section_link }}">{% endif %}
    {% if section_image_desktop != blank %}
    <img src="{{ section_image_desktop | img_url: 'x640' }}" alt="{{ section_image_desktop.alt }}" class="hidden md:inline-block">
    {% endif %}

    {% if section_image_tablet != blank %}
    <img src="{{ section_image_tablet | img_url: '768x' }}" alt="{{ section_image_tablet.alt }}" class="hidden sm:inline-block md:hidden">
    {% endif %}

    {% if section_image_mobile != blank %}
    <img src="{{ section_image_mobile | img_url: '568x' }}" alt="{{ section_image_mobile.alt }}" class="inline-block sm:hidden">
    {% endif %}
    {% if section_link != blank %}</a>{% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Image Block 2",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (Mobile)"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}