{%- if section.blocks.size > 0 -%}
  <section class="boot-images-links">
    <div class="container">
      <h2 class="text-center">{{ section.settings.title }}</h2>
      <div class="flex flex-wrap justify-center text-center md:-mx-4">
        {%- for block in section.blocks -%}
          {%- assign image = block.settings.image -%}
          {%- assign title = block.settings.title -%}
          {%- assign subtitle = block.settings.subtitle -%}
          {%- assign link = block.settings.link -%}

          <div class="w-full sm:w-1/2 md:w-4/12 pb-10 md:px-4">
            <a href="{{ link }}" class="inline-block text-center">
              <img src="{{ image | img_url: 'master' }}" alt="" class="inline-block mb-2">
              <p>{{ title }}</p>
              <p><span>{{ subtitle }}</span></p>
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Images and Links",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}