{%- if section.settings.show_section == true -%}

{%- assign title = section.settings.title -%}

<section class="boot-images-links">
  <h1 class="text-center">{{ title }}</h1>

  {%- assign section_image_desktop_1 = section.settings.image_desktop_1 -%}
  {%- assign section_image_mobile_1 = section.settings.image_mobile_1 -%}
  {%- assign section_link_1 = section.settings.link_1 -%}

  {% if section_image_desktop_1 != blank and section_image_mobile_1 != blank %}
  <div class="image-block mb-10 text-center">
    {% if section_link_1 != blank %}<a href="{{ section_link_1 }}" title="Lux image">{% endif %}
    {% if section_image_desktop_1 != blank %}
    <img src="{{ section_image_desktop_1 | img_url: '1400x' }}" alt="{{ section_image_desktop_1.alt }}" class="hidden sm:inline-block">
    {% endif %}

    {% if section_image_mobile_1 != blank %}
    <img src="{{ section_image_mobile_1 | img_url: '568x' }}" alt="{{ section_image_mobile_1.alt }}" class="inline-block sm:hidden">
    {% endif %}
    {% if section_link_1 != blank %}</a>{% endif %}
  </div>
  {% endif %}

  <div class="container">
    <div class="flex flex-wrap justify-center text-center md:-mx-4">
      {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
      {%- assign image = block.settings.image -%}
      {%- assign title = block.settings.title -%}
      {%- assign link = block.settings.link -%}

      <div class="w-full sm:w-1/2 md:w-4/12 pb-4 md:px-4">
        <a href="{{ link }}" title ="Lux category" class="inline-block text-center">
          <img src="{{ image | img_url: 'master' }}" alt="">
          <p>{{ title }}</p>
        </a>
      </div>
      {%- endfor -%}
      {%- endif -%}
    </div>
  </div>

  {%- assign section_image_desktop_2 = section.settings.image_desktop_2 -%}
  {%- assign section_image_mobile_2 = section.settings.image_mobile_2 -%}
  {%- assign section_link_2 = section.settings.link_2 -%}

  {% if section_image_desktop_2 != blank and section_image_mobile_2 != blank %}
  <div class="image-block mb-10 text-center">
    {% if section_link_2 != blank %}<a href="{{ section_link_2 }}" title="Lux image">{% endif %}
    {% if section_image_desktop_2 != blank %}
    <img src="{{ section_image_desktop_2 | img_url: '1400x' }}" alt="{{ section_image_desktop_2.alt }}" class="hidden sm:inline-block">
    {% endif %}

    {% if section_image_mobile_2 != blank %}
    <img src="{{ section_image_mobile_2 | img_url: '568x' }}" alt="{{ section_image_mobile_2.alt }}" class="inline-block sm:hidden">
    {% endif %}
    {% if section_link_2 != blank %}</a>{% endif %}
  </div>
  {% endif %}
</section>
{%- endif -%}

{% schema %}
{
  "name": "Images and Links",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Big Banner 1"
    },
    {
      "type": "image_picker",
      "id": "image_desktop_1",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_1",
      "label": "Image (Mobile)"
    },
    {
      "type": "url",
      "id": "link_1",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Big Banner 2"
    },
    {
      "type": "image_picker",
      "id": "image_desktop_2",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_2",
      "label": "Image (Mobile)"
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "Link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}